.plyr__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  background: #222;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  padding: 7px;
  overflow: visible;
  transition: all 0.3 ease;
  z-index: 10;

  svg {
    fill: none;
    display: block;
    height: 18px;
    width: 18px;
    pointer-events: none;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  &:hover {
    background: #00d1b2;
  }
}

.plyr__button--hidden {
  display: none;
}

.plyr__button--skip {
  position: absolute;
  bottom: 64px;
  right: 48px;
}
