.animepahe-section {
  position: relative;
  max-width: 1100px;
  min-height: 240px;
  margin: 25px auto 20px;

  &.empty {
    display: none;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    font-weight: 300;

    .clear-history-btn {
      font-size: 0.8rem;
      margin-left: 15px;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      background-color: #d5015b;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #a40045;
      }
    }
  }

  .animepahe-list-wrapper {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;

    .animepahe-list {
      position: relative;
      margin: 0 -5px 30px;
      min-height: 240px;

      .animepahe-anime-wrap {
        position: relative;
        margin: 5px 0;
        padding: 0 5px;

        .animepahe-anime {
          position: relative;
          overflow: hidden;
          z-index: 9;
          background-color: #000;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .anime-snapshot {
            position: relative;
            overflow: hidden;
            -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
            z-index: 1;

            &::before {
              content: "";
              display: block;
              padding-top: 56%;
            }

            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background: -moz-linear-gradient(
                top,
                rgba(0, 0, 0, 0) 70%,
                rgba(0, 0, 0, 0.75) 100%
              );
              background: -webkit-linear-gradient(
                top,
                rgba(0, 0, 0, 0) 70%,
                rgba(0, 0, 0, 0.75) 100%
              );
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 70%,
                rgba(0, 0, 0, 0.75) 100%
              );
              -moz-box-shadow: inset 0 0 0 0 #d5015b;
              -webkit-box-shadow: inset 0 0 0 0 #d5015b;
              box-shadow: inset 0 0 0 0 #d5015b;
              -webkit-transition: all 0.2s ease 0s;
              -moz-transition: all 0.2s ease 0s;
              transition: all 0.2s ease 0s;
            }

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: auto;
              margin: 0;
              -webkit-transition: all 0.5s ease-out;
              -moz-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;
            }

            .play-button {
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              padding: 10px calc(50% - 50px);
              position: absolute;
              top: 10px;
              left: 0;
              display: block;
              opacity: 0;
              cursor: pointer;
              -webkit-transition:
                opacity 0.2s ease-out,
                top 0.2s ease-out;
              -moz-transition:
                opacity 0.2s ease-out,
                top 0.2s ease-out;
              transition:
                opacity 0.2s ease-out,
                top 0.2s ease-out;
            }

            .play {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              text-indent: -9999px;
              z-index: 9;
            }
          }

          .anime-label-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: 2;
            pointer-events: none;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            flex-direction: column;

            .anime-delete-wrap {
              display: flex;
              justify-content: flex-end;
              padding: 5px 10px;
              pointer-events: auto;

              .anime-delete-btn {
                width: 20px;
                height: 20px;
                padding: 0;
                cursor: pointer;
                opacity: 0.7;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                transition: opacity 0.2s ease;
                border: none;
                border-radius: 3px;
                background: rgba(0, 0, 0, 0.5);

                &:hover {
                  opacity: 1;
                  background: rgba(0, 0, 0, 0.65);
                  color: #d5015b;
                }
              }
            }

            .anime-label {
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;

              .anime-name-wrap {
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1 1 auto;
                padding: 14px 15px;
                font-size: 0.75rem;
                text-shadow:
                  0 1px 2px #000000,
                  0 1px 2px #000000;
                line-height: normal;
                align-self: flex-end;

                .anime-name {
                  white-space: nowrap;
                  font-size: 0.75rem;
                  text-shadow:
                    0 1px 2px #000000,
                    0 1px 2px #000000;
                  line-height: normal;

                  a {
                    color: #fff;
                    pointer-events: auto;
                    font-size: 0.8rem;
                    font-weight: 500;
                    letter-spacing: 0.4px;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              .anime-number-wrap {
                flex: 0 0 auto;
                text-align: right;
                align-self: flex-end;
                padding: 10px 15px 10px 0;

                .anime-number {
                  position: relative;
                  display: inline-block;
                  color: #fff;
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: normal;
                  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
                }
              }
            }
          }

          &:hover .anime-snapshot {
            svg {
              opacity: 0.9;
              top: 0;
            }

            img {
              transform: translate(-50%, -50%) scale(1.1);
            }
          }
        }
      }
    }
  }
}

.watchlist-toggle {
  padding: 0 0 8px 240px;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;

  @media (max-width: 767px) {
    padding: 8px 0 8px 0;
    text-align: center;
  }
}

.watchlist-button {
  padding: 8px 16px;
  letter-spacing: 0.4px;
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -webkit-text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

  &:hover {
    color: #d5015b;
    background: rgba(0, 0, 0, 0.25);
    border-color: #d5015b;
  }
}

section.main
  .content-wrapper
  .episode-list-wrapper
  .episode-list
  .episode-wrap
  .episode-label-wrap {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: column;
  transition: background-color 0.2s ease;

  &.watched {
    background-color: rgba(0, 0, 0, 0.5);
  }

  > :last-child {
    margin-top: auto;
  }

  .anime-watched-wrap {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    pointer-events: auto;

    .anime-watched-text {
      font-size: 0.75rem;
      background: rgba(0, 0, 0, 0.65);
      padding: 2px 4px 1px;
      border-radius: 3px;
    }

    .anime-watched-btn {
      width: 20px;
      height: 20px;
      padding: 0;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      transition: all 0.2s ease;
      border: none;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.4);

      &:hover {
        background: rgba(0, 0, 0, 0.65);
        color: #d5015b;
      }
    }
  }
}
